<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <h1 style="color:#2c3e50; text-align: center; margin: 5vh 0 0 0; font-size: 3rem; font-weight: 501 ">Employee
    <span style="color:#2c3e50; text-align: center; margin: 5vh 0 0 0; font-size: 3rem; font-weight: 300 ">List</span>
  </h1>
  <h2 style="color: #5a6165; font-size: 1.25rem; font-weight: 300; text-align: center; margin: 2vh 0 0 0; font-style:oblique;">AU Angular assignment by Yash</h2>
  <!-- <app-dashboard></app-dashboard> -->

</div>

<router-outlet></router-outlet>
